body {
  font-family: Arial, sans-serif;
  color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
}

.page-title {
  text-align: center;
  padding: 20px 0;
  font-size: 2em;
}

.wrapper {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin: 2rem auto;
}

.option {
  display: block;
  width: 200px;
  background-color: #fff;
}

.items {
  display: block;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  list-style: circle;
  list-style-position: inside;
}

.items li {
  padding: 5px 0;
}
